<html>
  <head>
    <style>
    *{
      font-family: monospace;
    }
    .centered {
      width: 100%;
      margin-top: 200px;
      text-align: center;
    }
    li{
      list-style: none;
    }
    </style>
  </head>
  <body>
    <div class="centered">
      <form action="songs/new" method="POST">
        Please, fill both inputs:
        <input name="name" type="text" placeholder="Write a song name"/>
        <input name="artist" type="text" placeholder="Writa an artist"/>
        <input type="submit">
      </form>
      <ul>
        <% @@SONG_LIST.each do |song| %>
          <li>Name: <%= song.first %> --> Artist: <%= song.last %></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>